<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asides.each do |aside| %>
      <turbo-frame id="<%= dom_id aside %>">
        <%= render partial: "asides/aside_item", locals: { aside: aside } %>
      </turbo-frame>
    <% end %>
  </tbody>
</table>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), chapter_path(@chapter), method: :get, class: "btn", title: 'Back' %>
