<div class="row">
  <div class="col-sm-2">Name</div>
  <div class="col-sm-2">Body</div>
</div>
<% @asides.each do |aside| %>
  <turbo-frame id="<%= dom_id aside %>">
    <%= render partial: "asides/aside_item", locals: { aside: aside } %>
  </turbo-frame>
<% end %>
