<h1>Editing Aside</h1>

<%= render 'form', aside: @aside, book: @book, chapter: @chapter %>

<% add_to_footer('Show', aside_path(@aside)) %>
<% add_to_footer('Destroy', aside_path(@aside), method: :delete, data: { confirm: 'Are you sure?' }) %>
<% add_to_footer('Back',  return_or_default_path(chapter_path(@chapter))) %>)
