<h1>Editing Aside</h1>

<%= render 'form', aside: @aside %>

<%= link_to 'Show', chapter_aside_path(@chapter, @aside) %> |
<%= link_to 'Destroy', chapter_aside_path(@chapter,@aside), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', :back %>
