<h1>Editing Aside</h1>

<%= render 'form', aside: @aside, book: @book, chapter: @chapter %>

<% @footer_content << (link_to 'Show', chapter_aside_path(@chapter, @aside), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Destroy', chapter_aside_path(@chapter, @aside), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', chapter_path(@chapter), class: 'btn btn-default').to_s %>
