<% @title = "Asides" %>
<h2>Asides</h2>

<%= render partial: "asides/asides", locals: { asides: @asides } %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_chapter_aside_path(@chapter), class: 'btn', title: 'New Aside' %>
</div>
