<h2>New Aside</h2>

<turbo-frame id="new_asides" target="edit-aside">
<%= render 'form', aside: @aside, book: @book, chapter: @chapter %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  :back, class: 'btn', title: 'Back' %>
</turbo-frame>

