<p id="notice"><%= notice %></p>

<p>
<strong><%= @aside.name %></strong>
</p>

<%== @aside.body %>

<% @footer_content << (link_to 'Edit', edit_chapter_aside_path(@chapter,@aside), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', :back, class: 'btn btn-default').to_s %>
