<% @title = @aside.name %>
<p>
<strong><%= @aside.name %></strong>
</p>

<%== @aside.body %>

<% add_to_footer('Edit', edit_aside_path(@aside)) %>
<% add_to_footer('Back', return_or_default_path(chapter_path(@chapter))) %>
