<h1>Editing Character Scene</h1>

<%= render 'form', character_scene: @character_scene, scene: @scene %>

<% @footer_content << (link_to 'Back', polymorphic_path(@scene), class: 'btn btn-default').to_s %>
