<h2>Editing Character Scene: <%= @scene.name %> for <%= @character_scene.character.name %></h2>

<%= render 'form', character_scene: @character_scene, scene: @scene %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(polymorphic_path(@scene)), class: 'btn', title: 'Back' %>
</div>
