<h2>Editing Character Scene: <%= @scene.name %> for <%= @character_scene.character.name %></h2>

<%= render 'form', character_scene: @character_scene, scene: @scene %>

<% add_to_footer('Back',  return_or_default_path(polymorphic_path(@scene))) %>
