<h1>New Character Scene</h1>

<%= render 'form', character_scene: @character_scene, scene: @scene %>

<% add_to_footer('Back',  return_or_default_path(polymorphic_path([@character_scene.scene, :character_scenes]))) %>)
