<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @character_scene.scene.name %>
</p>

<p>
  <strong></strong>
  <%= @character_scene.character.name %>
</p>

<p>
  <strong></strong>
  <%= @character_scene.summary %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_polymorphic_path([@scene, @character_scene]), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path([@scene, 'characters']), :class => "btn btn-default"}" %>
