<h2>Editing Itinerary</h2>

<%= render 'form', itinerary: @itinerary, cities: @cities %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'search', class: 'fa-fw'), itinerary_path(@itinerary), class: 'btn', title: 'Show' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(tour_path(@tour)), class: 'btn', title: 'Back' %>
</div>
