<h2>New Itinerary</h2>

<turbo-frame id="new_object">
  <%= render 'form', itinerary: @itinerary, cities: @cities %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  tour_path(@tour), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
