<h2>Plot Points for <%= @book.name %></h2>

<table class="table">
  <tbody>
    <% @plot_points.each do |plot_point| %>
      <%= render partial: 'plot_points/index_plot_point', locals: { plot_point: plot_point } %>
    <% end %>
  </tbody>
</table>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_book_plot_point_path(@book), class: 'btn', title: 'New Plot Point' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), book_path(@book), class: 'btn', title: 'Back' %>
</div>
