<h2>New Plot Point</h2>

<%= render 'form', plot_point: @plot_point, book: @book %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), book_plot_points_path(@book), class: 'btn', title: 'Back' %>
</div>
