<div class="row">
  <div class="col-sm-2">Name</div>
  <div class="col-sm-2">Xreflabel</div>
  <div class="col-sm-2">Authors</div>
  <div class="col-sm-2"># Citations</div>
  <div class="col-sm-2"></div>
</div>
<% @biblioentries.each do |biblioentry| %>
  <turbo-frame id="<%= biblioentry %>">
    <%= render partial: "biblioentries/biblioentry_item", locals: { biblioentry: biblioentry } %>
  </turbo-frame>
<% end %>
