<div style = "display:block; clear:both; page-break-after:always;"></div>

<h1>Biblioentries</h1>

<dl class="dl-horizontal">
<% biblioentries.order(:xreflabel).each do |biblioentry| %>
    <dt><%= biblioentry.xreflabel %></dt>
    <dd><%== format_biblioentry(biblioentry) %></dd>
<% end %>
</dl>
