<p style='page-break-after:always;'></p>

<h1>Biblioentries</h1>

<dl class="dl-horizontal">
<% biblioentries.order(:xreflabel).each do |biblioentry| %>
    <dt><%= biblioentry.xreflabel %></dt>
    <dd><%= raw format_biblioentry(biblioentry) %></dd>
<% end %>
</dl>

<br>

