<h1>Editing Biblioentry</h1>

<%= render 'form', biblioentry: @biblioentry, command_label: "Update Biblioentry"  %>

<% @footer_content << "#{link_to 'Show', @biblioentry}" %>
<% @footer_content << "#{link_to 'Back', biblioentries_path}" %>
