<h1>Editing Biblioentry</h1>

<%= render 'form', book: @book, biblioentry: @biblioentry, command_label: "Update Biblioentry"  %>

<% @footer_content << "#{link_to 'Show', biblioentry_path(@biblioentry), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', book_biblioentries_path(@book), :class => "btn btn-default"}" %>
