<h2>New Biblioentry</h2>

<%= render 'form', book: @book, biblioentry: @biblioentry, command_label: 'Create Biblioentry' %>

<% add_to_footer('Back',  return_or_default_path(book_biblioentries_path(@book))) %>
