<h2>New Biblioentry</h2>

<%= render 'form', book: @book, biblioentry: @biblioentry, command_label: 'Create Biblioentry' %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(book_biblioentries_path(@book)), class: 'btn', title: 'Back' %>
</div>
