<h2>New Biblioentry</h2>

<turbo-frame id="new_object">
<%= render 'form', book: @book, biblioentry: @biblioentry, command_label: 'Create Biblioentry' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  book_biblioentries_path(@book), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
