<h1>New Biblioentry</h1>

<%= render 'form', book: @book, biblioentry: @biblioentry, command_label: 'Create Biblioentry' %>

<% @footer_content << (link_to 'Back', book_biblioentries_path(@book), class: 'btn btn-default').to_s %>
