<h1>Editing Artifact Location</h1>

<%= render 'form', artifact_location: @artifact_location %>

<% @footer_content << "#{link_to 'Show', @artifact_location, :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', artifact_locations_path, :class => "btn btn-default"}" %>
