<p id="notice"><%= notice %></p>

<p>
  <strong>Artifact:</strong>
  <%= @artifact_location.artifact_id %>
</p>

<p>
  <strong>Located:</strong>
  <%= @artifact_location.located_id %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_artifact_location_path(@artifact_location), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', artifact_locations_path , :class => "btn btn-default"}" %>
