<%= stylesheet_link_tag    'jquery-jvectormap', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.jvectormap.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery-jvectormap-world-mill-en.js', 'data-turbolinks-track': 'reload' %>

<div id="world-map" style="width: 720px; height: 400px"></div>

<script type="text/javascript">
   
jQuery(document).ready(function() {
    var map_locs = <%= raw @object.map_locs.to_json %>
  //@code_start
    $('#world-map').vectorMap({
      map: 'world_mill_en',
      scaleColors: ['#C8EEFF', '#0071A4'],
      normalizeFunction: 'polynomial',
      hoverOpacity: 0.7,
      hoverColor: false,
      markerStyle: {
        initial: {
          fill: '#F8E23B',
          stroke: '#383f47'
        }
      },
      backgroundColor: '#383f47',
      markers: map_locs.map(function(h){ return {name: h.name, latLng: h.latLng} })
    }); 
  //@code_end
});
</script>

