<div>
<a href='#' data-bs-toggle='tooltip' data-bs-placement='right' title='<em>Tooltip</em> <u>with</u> <b>HTML</b>'>Test</a>
<%= link_to (fa_icon 'question-circle-o'), nil, "data-bs": { toggle: 'tooltip', placement: 'right' } %>
</div>
<i class="fa fa-question-circle-o" data-bs-toggle='tooltip' data-bs-placement="left" title="My tooltip"></i>
<p>The data-placement attribute specifies the tooltip position.</p>
<ul class="list-inline">
<li><a href="#" data-bs-toggle='tooltip' data-bs-placement="top" title="Hooray!">Top</a></li>
<li><a href="#" data-bs-toggle='tooltip' data-bs-placement="bottom" title="Hooray!">Bottom</a></li>
<li><a href="#" data-bs-toggle='tooltip' data-bs-placement="left" title="Hooray!">Left</a></li>
<li><a href="#" data-bs-toggle='tooltip' data-bs-placement="right" title="Hooray!">Right</a></li>
</ul>

