<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_holocene_event_path, data: { "turbo-frame": "new_object" }, class: 'btn', title: 'New Holocene Event' %>
</div>

