<h1>Editing Holocene Event</h1>

<%= render 'form', holocene_event: @holocene_event, command_label: 'Update Holocene event' %>

<% add_to_footer('Show', @holocene_event) %>
<% add_to_footer('Back', holocene_events_path) %>
