<h1>Editing Holocene Event</h1>

<%= render 'form', holocene_event: @holocene_event, command_label: "Update Holocene event"  %>

<% @footer_content << "#{link_to 'Show', @holocene_event, :class => "btn btn-primary"}" %>
<% @footer_content << "#{link_to 'Back', holocene_events_path, :class => "btn btn-primary"}" %>
