<h2>Editing Holocene Event</h2>

<%= render 'form', holocene_event: @holocene_event, command_label: 'Update Holocene event' %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'search', class: 'fa-fw'), @holocene_event, class: 'btn', title: 'Show' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(holocene_events_path), class: 'btn', title: 'Back' %>
</div>
