<%= render 'shared/map', object: @object %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'list-alt', class: 'fa-fw'), holocene_event_path(@holocene_event), class: 'btn', title: 'Display' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path(@object), class: 'btn', title: 'Back' %>
</div>
