<h2>Holocene Events</h2>

<%= datagrid_form_for @grid, :method => :get, :url => holocene_events_path, :partials => 'holocene_event_grid' %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid, :partials => 'holocene_event_grid' %>
<%= paginate(@grid.assets) %>

<% @footer_content << (link_to 'New Holocene Event', new_holocene_event_path, class: 'btn btn-default').to_s %>
