<h2>Editing Character Category</h2>

<%= render 'form', character_category: @character_category %>

<% add_to_footer('Show', @character_category) %>
<% add_to_footer('Back',  return_or_default_path(character_categories_path)) %>
