<h2>New Character Category</h2>

<turbo-frame id="new_object">
<%= render 'form', character_category: @character_category %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  character_categories_path, method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
