<h2>New Character Category</h2>

<%= render 'form', character_category: @character_category %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(character_categories_path), class: 'btn', title: 'Back' %>
</div>
