// app/javascript/scss/site.scss

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

@import 'variables';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_clearfix.scss';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'jquery-ui/themes/base/sortable.css';
@import 'tpl';

#side_controls {
  position: fixed;
  left: 1em;
  top: 20%;
  width: 4em;
  margin-top: -2.5em;
}

.table-fixed tbody {
    height: 600px;
    overflow-y: auto;
    overflow-x: auto;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
 /*   display: block; */
}

/* .table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}
*/
