<% title ||= nil %>
<h2><%= (title.nil? ? chapter.name : title) %></h2>
<% citations = []
slugs.each do |slug|
   my_footnote = slug[1].footnotes.where(:slug => slug[0].gsub(/#{slug[1].slug}/,''))
   citations << my_footnote[0].biblioentry.xreflabel unless my_footnote[0].nil? || my_footnote[0].biblioentry.nil?
end 
footnotes.each do |footnote| 
    citations << footnote.biblioentry.xreflabel
end %>

<dl class="dl-horizontal">
<% citations.sort.each do |xreflabel| %>
    <% biblioentry = Biblioentry.find_by_xreflabel(xreflabel) %>
    <% if links %>
  <dt><%= link_to  xreflabel, book_biblioentry_path(chapter.scripted,biblioentry)  %></dt>
<% else %>
  <dt><%= xreflabel %></dt>
<% end %>
  <dd><%= raw format_biblioentry(biblioentry) %></dd>
<% end %>
</dl>
