      <h2>Citations</h2>

      <dl class="dl-horizontal">
    <% footnotes.each do |footnote| %>
        <dt><%= footnote.biblioentry.xreflabel %></dt>
        <dd><%= raw format_biblioentry(footnote.biblioentry) %></dd>
    <% end %>
      </dl>
