<p>
  <strong>Slug:</strong>
  <%= @footnote.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @footnote.body %>
</p>
<% unless @footnote.biblioentry.nil? %>
<p>
  <strong>Biblioentry:</strong>
  <%= @footnote.biblioentry_name %>
</p>
<% end %>

