<p>
<strong>Slug:</strong>
<%= @footnote.slug %>
</p>

<p>
<strong>Body:</strong>
<%= @footnote.body %>
</p>
<p>
<strong>Biblioentry:</strong>
<% unless @footnote.biblioentry.nil? %>
  <%= @footnote.biblioentry_name %>
<% end %>
</p>

