<div id="side_controls">
  <%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_polymorphic_path([@noted, @footnote]), data: { "turbo-frame": "new_object" }, class: 'btn', title: 'Edit' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  polymorphic_path(@noted), method: :get, class: 'btn', title: 'Back' %>
</div>
