<h1>Editing Footnote</h1>

<%= render 'form', footnote: @footnote, command_label: 'Update Footnote', noted: @noted %>

<% @footer_content << (link_to 'Show', polymorphic_path([@noted,@footnote]), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', polymorphic_path([@noted,:footnotes]), class: 'btn btn-default').to_s %>
