<h1>Editing Footnote</h1>

<%= render 'form', footnote: @footnote, command_label: "Update Footnote"  %>

<% @footer_content << "#{link_to 'Show', @footnote, :class => "btn btn-primary"}" %>
<% @footer_content << "#{link_to 'Back', "/#{@noted.class.name.underscore.pluralize}/show/#{@noted.id}", :class => "btn btn-primary"}" %>
