<h2>Editing Footnote</h2>

<%= render 'form', footnote: @footnote, command_label: 'Update Footnote', noted: @noted %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'search', class: 'fa-fw'), polymorphic_path([@noted, @footnote]), class: 'btn', title: 'Show' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), return_or_default_path(polymorphic_path([@noted, :footnotes])), class: 'btn', title: 'Back' %>
</div>
