<% @title = "Footnotes" %>
<h2>Footnotes</h2>


<turbo-frame id="objects">
<%= render 'footnotes/index', footnotes: @footnotes, noted: @noted %>
<%= link_to (fa_icon 'plus', class: 'fa-fw'), "/#{@noted.class.name.underscore.pluralize}/#{@noted.id}/footnotes/#{Footnote.random_slug}", class: 'btn', title: 'New Footnote' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path(@noted), class: 'btn', title: 'Back' %>
</turbo-frame>
