<% @title = "Footnotes" %>
<h2>Footnotes</h2>

<%= render 'footnotes/index', footnotes: @footnotes, noted: @noted %>

<% add_to_footer('New Footnote', "/#{@noted.class.name.underscore.pluralize}/#{@noted.id}/footnotes/#{Footnote.random_slug}") %>
<% add_to_footer('Back', polymorphic_path(@noted)) %>
