<h2>New Footnote</h2>

<turbo-frame id="new_footnotes">
<%= render 'form', footnote: @footnote, command_label: 'Create Footnote', noted: @noted %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  :back, class: 'btn', title: 'Back' %>
</turbo-frame>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(polymorphic_path([@noted, :footnotes])), class: 'btn', title: 'Back' %>
</div>
