<h1>New Footnote</h1>

<%= render 'form', footnote: @footnote, command_label: "Create Footnote", noted: @noted %>

<% @footer_content << "#{link_to 'Back', polymorphic_path([@noted, :footnotes]), :class => "btn btn-default"}" %>
