<h1>New Footnote</h1>

<%= render 'form', section: @object, footnote: @footnote %>

<% @footer_content << "#{link_to 'Back', section_footnotes_path(:id => @object.id), :class => "btn btn-default"}" %>
