<p>
  <strong>Slug:</strong>
  <%= @footnote.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @footnote.body %>
</p>
<% unless @footnote.biblioentry.nil? %>
<p>
  <strong>Biblioentry:</strong>
  <%= @footnote.biblioentry_name %>
</p>
<% end %>

<% @footer_content << (link_to 'Edit', edit_polymorphic_path([@noted, @footnote]), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', polymorphic_path([@noted, :footnotes]), class: 'btn btn-default').to_s %>
