<p>
  <strong>Slug:</strong>
  <%= @footnote.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @footnote.body %>
</p>
<% unless @footnote.biblioentry.nil? %>
<p>
  <strong>Biblioentry:</strong>
  <%= @footnote.biblioentry_name %>
</p>
<% end %>

<% @footer_content << "#{link_to 'Edit', edit_footnote_path(@footnote), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', "/#{@noted.class.name.underscore.pluralize}/#{@noted.id}/footnotes", :class => "btn btn-default"}" %>
