<p>
  <strong>Slug:</strong>
  <%= @footnote.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @footnote.body %>
</p>
<% unless @footnote.biblioentry.nil? %>
<p>
  <strong>Biblioentry:</strong>
  <%= @footnote.biblioentry.name %>
</p>
<% end %>

<% @footer_content << "#{link_to 'Edit', edit_footnote_path(@footnote)}" %>
<% @footer_content << "#{link_to 'Back', "/#{@noted.class.name.underscore.pluralize}/#{@noted.id}/footnotes"}" %>
