<turbo-frame id="<%= dom_id actor_character %>">

<p>
  <strong>Actor:</strong>
  <%= actor_character.actor.name %>
</p>

<p>
  <strong>Character:</strong>
  <%= actor_character.character.name %>
</p>
</turbo-frame>
