<h2>Editing Actor Character</h2>

<%= render 'form', actor_character: @actor_character %>

<div>
<%= link_to 'Show', @actor_character, :class => "btn" %>
<%= link_to 'Back', actor_actor_characters_path(@actor), :class => "btn" %>
</div>
