<% pdf ||= nil %>
<% outline ||= nil %>

<% inserted_scenes = [] %>

<% scenes.keys.sort.each do |year| %>
  <% scenes[year].keys.sort.each do |month| %>
    <% scenes[year][month].keys.sort.each do |day| %>
      <% scenes[year][month][day].keys.sort.each do |hour| %>
        <% scenes[year][month][day][hour].keys.sort.each do |minute| %>
          <% scenes[year][month][day][hour][minute].each do |scene_id| %>
            <% scene = Scene.find(scene_id) %>
            <%# next if scene.section.nil? %>
            <% next if inserted_scenes.include?(scene.id) %>
            <% insert_scenes = Scene.where(insert_scene_id: scene.id) %>
            <% insert_scenes.each do |iscene| %>
              <% next unless iscene.key_point.scripted.publish? %>
              <% inserted_scenes << iscene.id %>
              <%= render partial: 'scenes/scene_item', formats: [:html], locals: { scene: iscene, outline: outline, pdf: pdf, long: long} %>
            <% end %>
            <% if scene.title_scene and scene.situated.title_page? %>
              <div style="display:block; clear:both; page-break-after:always;"></div>
              <h2><%= scene.situated.title %></h2>
              <% just_printed_page_break = true %>
            <% end %>
            <% if scene.title_scene and scene.situated.print_summary? %>
              <% if !outline %>
                <%= scene.situated.summary_body %>
                <div style="display:block; clear:both; page-break-after:always;"></div>
                <% just_printed_page_break = true %>
              <% end %>
            <% end %>

            <%= render partial: 'scenes/scene_item', formats: [:html], locals: { scene: scene, outline: outline, pdf: pdf, long: long} %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end -%>
