<% unless scene.characters.size == 0 %>
  <p>
    <strong>Characters:</strong>
    <br>
    <%= render partial: 'characters/characters_occ_ul', formats: [:html], locals: { object: scene, characters: scene.characters } %>
  </p>
<% end %>

