<% total_wc ||= 0 %>
<% wc_total ||= 0 %>
  <div class="row row-striped">
    <div class="col-sm-12">
<table style="width: 100%"><tbody>
<%= render partial: 'scenes/scene_title', formats: [:html], locals: { scene: scene, scripted: scene.key_point.scripted, key_point: scene.key_point, pdf: pdf , print_name: false, inline_date: false, long: long, total_wc: total_wc, wc_total: wc_total } %>
  </tbody></table>
    </div>
  </div>
<% unless pdf.nil? %>
  <br>
<% end %>
<% if scene.section&.body.blank? || outline %>
  <div class="row row-striped">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
  <%= scene.summary %>
    </div>
  </div>
<% end%>
<% unless outline %>
  <%#== scene.section.body unless scene.section&.body.nil? %>
  <div class="row row-striped">
    <div class="col-sm-12">
      <%== epub_friendly(scene.section.body) unless scene.section&.body.nil? %>
    </div>
  </div>
<% end %>
