<h1>Editing Scene</h1>

<%= render 'form', scene: @scene, situated: @situated, selector: @selector, key_point: @key_point %>

<% @footer_content << "#{link_to 'Back', scene_path(@scene), :class => "btn btn-default" }" %>
