<h1>New Scene</h1>

<%= render 'form', scene: @scene, situated: @situated, selector: @selector, key_point: @key_point %>

<% add_to_footer('Back',  return_or_default_path((@scene.key_point.nil? ? polymorphic_path(@situated) : polymorphic_path([@situated, @scene.key_point, :list])))) %>)
