<h1>New Scene</h1>

<%= render 'form', scene: @scene, situated: @situated, selector: @selector, key_point: @key_point %>

<% @footer_content << "#{link_to 'Back', (@scene.key_point.nil? ? polymorphic_path(@situated) : key_point_path(@scene.key_point)), :class => "btn btn-default" }" %>
