<h2>Authors</h2>

<table class="table table-striped">
  <tbody>
    <% authors.each do |author| %>
      <tr>
        <td><%= author.first_name %></td>
        <td><%= author.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
