<div id="side_controls">
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_polymorphic_path([@object, :author]), class: 'btn', title: "New Author" %>
  <%= link_to (fa_icon 'exchange-alt', class: 'fa-fw'), polymorphic_path([@object, :authors_list]), method: :get, class: 'btn', title: "Add Author" %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(polymorphic_path(@object)), method: :get, class: 'btn', title: 'Back' %>
</div>
