<h1>Editing Author</h1>

<%= render 'form', user: current_user, author: @author, command_label: 'Update Author', object: @object %>

<% add_to_footer('Show', polymorphic_path([@object, @author])) %>
<% add_to_footer('Back',  return_or_default_path(polymorphic_path([@object, :authors]))) %>
