<h1>Editing Author</h1>

<%= render 'form', user: current_user, author: @author, command_label: "Update Author"  %>

<% @footer_content << "#{link_to 'Show', @author}" %>
<% @footer_content << "#{link_to 'Back', authors_path}" %>
