<h1>Editing Author</h1>

<%= render 'form', user: current_user, author: @author, command_label: "Update Author"  %>

<% @footer_content << "#{link_to 'Show', @author, :class => "btn btn-primary"}" %>
<% @footer_content << "#{link_to 'Back', authors_path, :class => "btn btn-primary"}" %>
