<% @title = "Authors" %>
<h2>Authors</h2>

<turbo-frame id="objects">
  <%= render partial: "authors/authors", locals: { authors: @authors, object: @object } %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  polymorphic_path(@object), method: :get, class: 'btn', title: 'Back' %>
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_polymorphic_path([@object, :author]), class: 'btn', title: "New Author" %>
  <%= link_to (fa_icon 'exchange-alt', class: 'fa-fw'), polymorphic_path([@object, :authors_list]), method: :get, class: 'btn', title: "Add Author" %>
</turbo-frame>

