<h1>New Author</h1>

<%= render 'form', user: current_user, author: @author, command_label: "Create Author"  %>

<% @footer_content << "#{link_to 'Back', authors_path, :class => "btn btn-primary"}" %>
