<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<%= render 'biblioentries/index', biblioentries: @author.biblioentries %>

<% add_to_footer('Edit', edit_polymorphic_path([@object, @author])) %>
<% add_to_footer('Back', polymorphic_path(@object)) %>
