<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<%= render "biblioentries/index", biblioentries: @author.biblioentries %>

<% @footer_content << (link_to 'Edit', edit_polymorphic_path([@object,@author]), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', :back, class: 'btn btn-default').to_s %>
