<turbo-frame id="objects">
<table>
  <thead>
    <tr>
      <th>Actor</th>
      <th>Date</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actor_location_times.each do |actor_location_time| %>
      <turbo-frame id="<%= dom_id actor_location_time %>">
        <%= render partial: "actor_location_times/actor_location_time_item", locals: { actor_location_time: actor_location_time } %>
      </turbo-frame>
    <% end %>
  </tbody>
</table>
</turbo-frame>
