<h2>Editing Actor Location Time</h2>

<turbo-frame id="new_object">
  <turbo-frame id="<%= dom_id @actor_location_time %>">
    <%= render partial: 'form', locals: { klass: nil, actor_location_time: @actor_location_time } %>
    <%= link_to (fa_icon 'backward', class: 'fa-fw'), location_time_actor_location_times_path(@location_time), method: :get, class: "btn", title: 'Back' %>
  </turbo-frame>
</turbo-frame>

