<h2>Editing Actor Location Time</h2>

<%= render 'form', actor_location_time: @actor_location_time %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), return_or_default_path(location_time_actor_location_times_path(@location_time)), class: "btn", title: 'Back' %>
</div>
