<h2>New Actor Location Time</h2>

<turbo-frame id="new_object">
  <%= render 'form', actor_location_time: @actor_location_time %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), @actor_location_time.location_time.segment.stage, method: :get, class: "btn", title: 'Back' %>
</turbo-frame>
