<h2>Editing Key Word</h2>

<turbo-frame id="<%= dom_id @key_word %>">
  <%= render 'form', key_word: @key_word, book: @book %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),   return_or_default_path(book_key_words_path(book_id: @book.id)), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
