<p id="notice"><%= notice %></p>

<p>
  <strong>Key word:</strong>
  <%= @key_word.key_word %>
</p>

<p>
<ul>
<% ThinkingSphinx.search(@key_word.key_word).each do |result| %>
  <li>
    <% case result.class.name %>
    <% when 'ActionText::RichText' %>
      <% values = result.record.set_values %>
      <%= raw breadcrumb( nil, values[1], values[2], values[3], values[4], true) %>
    <% else %>
      <% values = result.set_values %>
      <%= raw breadcrumb( nil, values[1], values[2], values[3], values[4], true) %>
    <% end %>
  </li>
<% end %>
</ul>
</p>

<% @footer_content << "#{link_to 'Edit', edit_key_word_path(@key_word), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', book_key_words_path(:book_id => @book.id), :class => "btn btn-default"}" %>

