<p id="notice"><%= notice %></p>

<p>
  <strong>Key word:</strong>
  <%= @key_word.key_word %>
</p>

<p>
<%= render partial: 'key_words/key_words', :locals => {book: @key_word.book, key_word: @key_word} %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_key_word_path(@key_word), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', book_key_words_path(:book_id => @book.id), :class => "btn btn-default"}" %>

