<% unless objects.empty? %>
  <% old_date = '' %>
  <% objects.includes([:metrized]).order(date: :desc, updated_at: :desc).each do |metric| %>
    <% next if metric.metrized.sectioned.nil? %>
    <% values = metric.metrized.set_values %>
    <% if metric.date != old_date %>
      <% unless old_date.blank? %>
        </ul>
      <% end %>
      <%= metric.date.to_date %>:
      <% old_date = metric.date %>
      <ul>
    <% end %>
    <li><%== breadcrumb(values[0], values[1], values[2], values[3], values[4], true) %></li>
  <% end %>
  </ul>
<% end %>
