<% scene_count = obj.scene_count %>
<% section_count = obj.section_count %>
<% word_count = obj.word_count %>
<% word_counts = obj.word_counts %>

<% scene_avg = scene_count.zero? ? 0 : (word_count/scene_count).to_i %>

<% z_count = word_counts.collect{|x| x <= 15 ? 1 : 0 }.sum %>
<% word_avg = scene_count == z_count ? 0 : word_count / (scene_count - z_count) %>
<% word_avg = word_avg > scene_avg ? word_avg : scene_avg %>
<% pot_word_count = word_counts.collect{|x| x > word_avg ? x : word_avg}.sum %>
<span style="background-color: #<%= percent_color(pot_word_count.zero? ? 0 : word_count.to_f/pot_word_count.to_f) %>"><%=  number_with_delimiter(word_count, :delimiter => ',') %></span>
(<%=  number_with_delimiter(pot_word_count, :delimiter => ',') %> <%= number_with_precision((word_count.to_f/pot_word_count.to_f)*100, precision: 2) %>%)

