<h1>Editing Section</h1>

<%= render 'form', scripted: @scripted, chapter: @chapter, section: @section, command_label: "Update Section"  %>

<% @footer_content << "#{link_to 'Show', chapter_section_path(@chapter, @section), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', chapter_sections_path(@chapter), :class => "btn btn-default"}" %>
