<h2>Editing Section</h2>

<%= render 'form', scripted: @scripted, sectioned: @sectioned, section: @section, command_label: 'Update Section' %>

<%# add_to_footer('Show', section_path(@section)) %>
<%# add_to_footer('Back',  return_or_default_path(polymorphic_path(@sectioned))) %>
