<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<%= render 'shared/map', object: @object %>
<% add_to_footer('Timeline', section_timeline_path(section_id: @section.id)) %>
<% add_to_footer('Display', section_display_path(section_id: @section.id)) %>
<% add_to_footer('Back', polymorphic_path(@object.sectioned)) %>
~
