<h2>Sections for <%= @sectioned.class.name %> <%= @sectioned.name %></h2>

<%= render partial: 'sections/index', locals: { sections: @sections, sectioned: @sectioned } %>

<% add_to_footer('New Section', new_polymorphic_path([@sectioned, :section])) %>
<% add_to_footer('Back', polymorphic_path(@sectioned)) %>
