<h1>New Section</h1>

<%= render 'form', book: @book, chapter: @chapter, section: @section, command_label: "Create Section" %>

<% @footer_content << "#{link_to 'Back', book_chapter_sections_path(@book, @chapter), :class => "btn btn-default"}" %>
