<h1>New Section</h1>

<%= render 'form', scripted: @scripted, sectioned: @sectioned, section: @section, command_label: 'Create Section' %>

<% add_to_footer('Back', polymorphic_path((@sectioned.instance_of?(Chapter) ? @section.sectioned : @sectioned))) %>
