<h2>New Section</h2>

<turbo-frame id="new_object">
  <%= render partial: 'form', locals: { sectioned: @sectioned, section: @section, command_label: 'Create Section' } %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  polymorphic_path(@sectioned), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
