<p>
  <% @title = @section.name %>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<% @slugs = [] -%>
<% @footnotes = process_body(@section, @slugs) -%>
<%= raw @footnotes[0]  %>
<% @slugs += @footnotes[1] -%>

<% unless @section.holocene_events.length == 0 -%>
<%= render 'holocene_events/index.html', holocene_events: @section.holocene_events.order(:start_year) %>
<% end -%>

<% unless @slugs.length == 0 -%>
<%= raw write_footnotes(@slugs) %>
<% end -%>

<% @footer_content << "#{link_to 'Edit', edit_book_chapter_section_path(@book, @chapter, @section), :class => "btn btn-primary"}" %>
<% @footer_content << "#{link_to 'Timeline', section_timeline_path(:section_id => @section.id), :class => "btn btn-primary"}" %>
<% @footer_content << "#{link_to 'Display',  section_display_path(:section_id => @section.id), :class => "btn btn-primary"}" %>
<% @footer_content << "#{link_to 'Footnotes',  section_footnotes_path(@section), :class => "btn btn-primary"}" %>
<% @footer_content << "#{link_to 'Back', book_chapter_path(@book, @chapter), :class => "btn btn-primary"}" %>
