<div id='tag_cloud'>
  <% tag_cloud HoloceneEvent.where(user_id: current_user.id).tag_counts.order(:name), %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<hr>
<% add_to_footer('Stats', welcome_stats_path) %>
<% add_to_footer('Progress', welcome_index_path) %>
<% unless @book.nil? %>
  <% add_to_footer('Back', book_path(@book)) %>
<% end %>
