<div id='tag_cloud'>
  <% tag_cloud HoloceneEvent.where(user_id: current_user.id).tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<hr>
<% @footer_content << (link_to 'Stats', welcome_stats_path, class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Progress', welcome_index_path, class: 'btn btn-default').to_s %>
<% unless @book.nil? %>
  <% @footer_content << (link_to 'Back', book_path(@book), class: 'btn btn-default').to_s %>
<% end %>
