<div class="row">
  <div class="col-sm-2">Date String</div>
</div>
<% @location_times.each do |location_time| %>
  <turbo-frame id="<%= dom_id location_time %>">
    <%= render partial: "location_times/location_time_item", locals: { location_time: location_time } %>
  </turbo-frame>
<% end %>
