      <tr>
        <td><%= location_time.date_string %></td>
        <td><%= link_to 'Show', location_time %></td>
        <td><%= link_to 'Edit', edit_location_time_path(location_time) %></td>
        <td><%= link_to 'Destroy', location_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
