<% ops ||=nil %>

<% location_time.actor_location_times.includes(:actor).order("actors.name").each do |actor_loc| %>
  <tr>
  <td>
    <%= render partial: "actor_location_times/list_actor", locals: { act_loc: actor_loc } %>
  </td>
  </tr>
<% end %>
