<% ops ||=nil %>

<% location_time.actor_location_times.includes(:actor).order("actors.name").each do |actor_loc| %>
  <tr>
  <td>
    <strong><%= actor_loc.actor.name %></strong>: <%= actor_loc.role.to_plain_text %>
  </td>
  </tr>
<% end %>
