<% locs = segment.location_times.includes(:location).where("location.name": location).order(:date_string) %>
<table class="table table-sm table-striped">
  <tbody>
  <% locs.each do |location_time| %>
    <tr>
      <td class="text-start" style="width: 90px">
        <strong><%= link_to location_time.date_string, edit_location_time_path(location_time) %></strong>
        <%= link_to (fa_icon 'trash'), location_time, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %>
        <%= link_to (fa_icon 'plus'), new_location_time_actor_location_time_path(location_time) %>
      </td>
      <td class="text-start">
        <table class="table table-sm table-striped">
          <tbody>
          <% location_time.actor_location_times.includes(:actor).order("actors.name").each do |actor_loc| %>
            <tr>
              <td class="text-start">
                <%= render partial: "actor_location_times/list_actor", locals: { act_loc: actor_loc, skip_date: true } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
