<h1>Editing Location Time</h1>

<%= render 'form', location_time: @location_time %>

<div>
<%= link_to 'Back', return_or_default_path(segment_location_times_path(@segment)), :class => "btn" %>
</div>
