<h2>Editing Location Time</h2>

<%= render 'form', location_time: @location_time %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), return_or_default_path(segment_location_times_path(@segment)), class: "btn", title: 'Back' %>
</div>
