<h1>Editing Character Value</h1>

<%= render 'form', character_value: @character_value, character_category: @character_category, character: @character %>

<% @footer_content << (link_to 'Show', character_value_path(@character_value), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', polymorphic_path([@character, :character_values]), class: 'btn btn-default').to_s %>
