<h2>Editing Character Value</h2>

<turbo-frame id="<%= dom_id @character_value %>">
  <%= render 'form', character_value: @character_value, character_category: @character_category, character: @character %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),   return_or_default_path(polymorphic_path([@object, @character, :character_values])), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
