<h1>Editing Character Value</h1>

<%= render 'form', character_value: @character_value %>

<%= link_to 'Show', polymorphic_path([@object, @character, @character_value]) %> |
<%= link_to 'Back', polymorphic_path([@object, @character, 'character_values']) %>
