<h2>New Character Value</h2>

<turbo-frame id="new_object">
<%= render 'form', character_value: @character_value, character_category: @character_category, character: @character %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  polymorphic_path([@object, @character, :character_values]), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
