<h1>New Character Value</h1>

<%= render 'form', character_value: @character_value, character_category: @character_category, character: @character %>

<% add_to_footer('Back',  return_or_default_path(polymorphic_path([@object, @character, :character_values]))) %>)
