<p id="notice"><%= notice %></p>

<p>
  <strong>Character attribute:</strong>
  <%= @character_value.character_attribute_name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @character_value.value %>
</p>

<% add_to_footer('Edit', edit_book_character_character_value_path(@object, @character, @character_value)) %>
<% add_to_footer('Back', polymorphic_path([@object, @character, :character_values])) %>
