<p id="notice"><%= notice %></p>

<p>
  <strong>Character attribute:</strong>
  <%= @character_value.character_attribute_name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @character_value.value %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_character_value_path(@character_value), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path([@character, :character_values]), :class => "btn btn-default"}" %>
