<p>
  <strong>Character attribute:</strong>
  <%= @character_value.character_attribute_name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @character_value.value %>
</p>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_book_character_character_value_path(@object, @character, @character_value), class: 'btn', title: 'Edit' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path([@object, @character, :character_values]), class: 'btn', title: 'Back' %>
</div>
