<p id="notice"><%= notice %></p>

<p>
  <strong>Character attribute:</strong>
  <%= @character_value.character_attribute_name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @character_value.value %>
</p>

<% @footer_content << (link_to 'Edit', edit_book_character_character_value_path(@object, @character, @character_value), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', polymorphic_path([@object, @character, :character_values]), class: 'btn btn-default').to_s %>
