<p>
  <strong>Color:</strong>
  <%= Signet.color_name(@signet.color) %>
<%= link_to (fa_icon 'edit'), edit_signet_path(@signet), title: 'Edit' %>
</p>

<p>
  <strong>Message:</strong>
  <%= @signet.message %>
</p>

