  <div class="container" id="signets">
  <div class="row">
    <div class="col-sm-2">
      <strong>Signet</strong>
    </div>
    <div class="col-sm-2">
      <strong></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div id="edit-signet">
      </div>
    </div>
  </div>
  <% @sigged.signets.order(:message).each do |signet| %>
    <turbo-frame id="<%= dom_id signet %>" class="block">
      <%= render partial: "signets/signet_line", locals: { signet: signet, sigged: sigged } %>
    </turbo-frame>
  <% end %>
  </div>
</div>

