<turbo-frame id="<%= dom_id signet %>">
<div class="row">
<div class="col-sm-2" style="background:#<%= Signet.color(signet.color) %>;">
    <%= link_to signet.message, edit_signet_path("#{sigged.class.name.underscore}_id".to_sym => sigged.id, :id => signet.id), title: 'Edit' %>
</div>
<div class="col-sm-2">
    <%= link_to (fa_icon 'trash'), signet, method: :delete, data: { confirm: 'Are you sure?', title: 'Delete' } %>
</div>
</div>
</turbo-frame>
