<h1>Editing Signet</h1>

<%= render 'form', signet: @signet, sigged: @sigged %>

<% add_to_footer('Show', polymorphic_path([@sigged, @signet])) %>
<% add_to_footer('Back', polymorphic_path(@sigged)) %>
