<% @title = "Signets" %>
  <h2>Signets - <%= @sigged.class.name %>: <%= @sigged.name %></h2>

<turbo-frame id="<%= dom_id @sigged %>">
  <%= render partial: "signets/signet_index", locals: { sigged: @sigged } %>
</turbo-frame>
