<h2>New Signet - <%= @sigged.class.name %>: <%= @sigged.name %></h2>

<%= render 'form', signet: @signet, sigged: @sigged %>

<% add_to_footer('Back',  return_or_default_path(polymorphic_path([@sigged, :signets]))) %>
