<h2>New Signet - <%= @sigged.class.name %>: <%= @sigged.name %></h2>

<turbo-frame id="new_object">
  <%= render 'form', signet: @signet, sigged: @sigged %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(polymorphic_path([@sigged, :signets])), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
