<p>
  <strong>Color:</strong>
  <%= @signet.color %>
</p>

<p>
  <strong>Message:</strong>
  <%= @signet.message %>
</p>

<% add_to_footer('Edit', edit_signet_path(@signet)) %>
<% add_to_footer('Back', polymorphic_path(@sigged)) %>
