<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @signet.color %>
</p>

<p>
  <strong>Message:</strong>
  <%= @signet.message %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_signet_path(@signet), :class => "btn btn-default"}" %>
<% if @sigged.class.name == "Chapter" %>
  <% @footer_content << "#{link_to 'Back', chapter_path(@sigged), :class => "btn btn-default"}" %>
<% elsif @sigged.class.name == "Section" %>
  <% @footer_content << "#{link_to 'Back', chapter_path(@sigged.chapter), :class => "btn btn-default"}" %>
<% elsif @sigged.class.name == "Book" %>
  <% @footer_content << "#{link_to 'Back', book_path(@sigged), :class => "btn btn-default"}" %>
<% elsif @sigged.class.name == "HoloceneEvent" %>
  <% @footer_content << "#{link_to 'Back', holocene_event_path(@sigged), :class => "btn btn-default"}" %>
<% end %>

