<div id="side_controls">
  <%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_segment_path(@segment), class: "btn" %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  stage_path(@stage), method: :get, class: 'btn', title: 'Back' %>
</div>
