  <div class='row'>
    <div class='col-sm-2'>
      Locations
    </div>
    </div>
    <% @locations.each do |loc| %>
  <div class='row'>
    <div class='col-sm-2'>
          <%= loc.name %>
    </div>
    </div>
    <% end %>
  </div>
