<h2>Editing Segment</h2>

<turbo-frame id="<%= dom_id @segment  %>">
  <%= render 'form', segment: @segment %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), @stage, method: :get, class: "btn", title: 'Back' %>
</turbo-frame>
