<h1>Editing Segment</h1>

<%= render 'form', segment: @segment %>

<div>
<%= link_to 'Show', @segment, :class => "btn" %>
<%= link_to 'Back', return_or_default_path(stage_segments_path(@stage)), :class => "btn" %>
</div>
