<h2>New Segment</h2>

<turbo-frame id="new_object">
  <%= render 'form', segment: @segment %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), @stage, method: :get, class: "btn", title: 'Back' %>
</turbo-frame>
