<h2>New Segment</h2>

<%= render 'form', segment: @segment %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), return_or_default_path(stage_segments_path(@stage)), class: "btn", title: 'Back' %>
</div>
