<h1>Editing Tour</h1>

<%= render 'form', tour: @tour, story: @story %>

<% @footer_content << "#{ link_to 'Show', tour_path(@tour), :class => "btn btn-default hide-print" }" %>
<% @footer_content << "#{ link_to 'Back', story_tours_path(@story), :class => "btn btn-default hide-print" }" %>
