<h2>Editing Tour</h2>

<turbo-frame id="new_object">
  <turbo-frame id="<%= dom_id @tour %>">
    <%= render 'form', tour: @tour, story: @story %>
    <%= link_to (fa_icon 'backward', class: 'fa-fw'),   return_or_default_path(story_tours_path(@story)), method: :get, class: 'btn', title: 'Back' %>
  </turbo-frame>
</turbo-frame>
