  <div class="row">
    <div class="col-sm-2">
      <strong>Name</strong>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <% Book.where(user_id: current_user.id).order(:position).each do |book| %>
    <turbo-frame id="<%= dom_id book %>" class="block">
      <%= render partial: "books/book_item", locals: { book: book, pdf: nil } %>
    </turbo-frame>
  <% end %>
  </div>
