<% word_count = scene_count = word_avg = 0 %>
<% if long %>
  <% z_count = 0 %>
  <% book.stories.each do |story| %>
    <% word_counts = story.word_counts %>
    <% z_count  += word_counts.collect{|x| x <= 10 ? 1 : 0 }.sum %>
  <% end %>

  <% word_count = book.word_count %>
  <% scene_count = book.scene_count %>
  <% word_avg = word_count / (scene_count - z_count) %>

  <%= render partial: 'books/book_stats', locals: { book: book } %>
<% end %>
<%= tabs do |c| %>

<% c.tab 'Stories' do %>
 <span>
<%= render partial: 'stories/index', formats: [:html], locals: { stories: stories, book: book, long: long, word_count: word_count, scene_count: scene_count, word_avg: word_avg } %>
 </span>
<% end %>

<% c.tab 'Summary' do %>
  <span>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-12'>
          <%= @book.body %>
        </div>
      </div>
    </div>
  </span>
<% end %>

<% end %>

