<h1>Editing Book</h1>

<%= render 'form', book: @book, command_label: "Update Book"  %>

<% @footer_content << "#{link_to 'Show', @book, :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', books_path, :class => "btn btn-default"}" %>
