<h2>Books</h2>

<div id="book-new">
<%= render partial: "books/new_link" %>
</div>

<%= render partial: 'books/books' %>

<div id="side_controls" class="hide-print">
<% if @long %>
<%= link_to (fa_icon 'minus', class: 'fa-fw'), books_path, class: 'btn', title: 'Short View' %>
<% else %>
<%= link_to (fa_icon 'expand', class: 'fa-fw'), books_path(long: true), class: 'btn', title: 'Long View' %>
<% end %>
</div>
