<%= render partial: 'header', locals: { book: @book, long: false } %>
<h2>Stats for Book <%= link_to @book.name, book_path(@book) %></h2>
<%= render partial: 'shared/stats', formats: [:html], locals: { object: @book, book: @book } %>
