<h2>Stats for Book <%= link_to @book.name, book_path(@book) %></h2>
<%= render partial: 'shared/stats.html', :locals => { :object => @book, book: @book } %>
<% @footer_content << "#{ link_to 'Back', book_path(@book), :class => "btn btn-default hide-print" }" %>
