<h2>Stats for Book <%= link_to @book.name, book_path(@book) %></h2>
<%= render partial: 'shared/stats.html', locals: { object: @book, book: @book } %>
<% add_to_footer('Back', book_path(@book), print: true) %>
