<% options = [] %>
<% @years.each do |year| %>
  <% options << [year,year] %>
<% end %>

<div class="field">
<%= select_tag('year', options_for_select(options), prompt: "Please select an year:", class: "form-control",
               data: {
                 remote: true,
                 url: book_scenes_list_path(:book_id => @book.id),
                 update: 'year-options'
               }, multiple: false
              ) %>
              </div>

<div id='year-options' style="width: 100%; height: 100%"></div>

<% @footer_content << "#{link_to 'Back', book_path(@book), :class => "btn btn-default"}" %>
