<h2>Chapters, TOC</h2>

<table class='table'>
  <tbody>
  </tbody>
</table>

<dl>
  <div class="chapter_outer-sortable" style="cursor: grab;">
    <%= content_tag 'div', id: "book-#{@book.id}", data: { id: @book.id, model_name: @book.class.name.underscore, update_url: polymorphic_path([@book, :sort]) } do %>
      <div class="chapter-sortable" style="cursor: grab; min-height: 10px;">
        <% @chapters.includes([:rich_text_body, :sections, :holocene_events, :chapters_holocene_events, { sections: [:holocene_events, :holocene_events_sections, :rich_text_body] }, { partition: :rich_text_body }, { aside: :rich_text_body }]).rank(:position).each do |chapter| %>
          <%= content_tag 'div', id: "chapter-#{chapter.id}", data: { model_name: chapter.class.name.underscore, update_url: chapter_sort_path(chapter) } do %>
            <%= render partial: 'chapters/chapter', locals: { chapter: chapter } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</dl>

<% add_to_footer('New Chapter', new_book_chapter_path(@book)) %>
<% add_to_footer('Chapters, Details', polymorphic_path([@book, :chapters])) %>
<% add_to_footer('Back', book_path(@book)) %>
