<h2>Chapters, TOC</h2>

<ul data-controller="sortable" data-sortable-resource-name-value="chapter">
  <% @chapters.includes([:rich_text_body, :sections, :holocene_events, :chapters_holocene_events, { sections: [:holocene_events, :holocene_events_sections, :rich_text_body] }, { partition: :rich_text_body }, { aside: :rich_text_body }]).order(:position).each do |chapter| %>
    <li data-sortable-update-url="<%= chapter_sort_path(chapter) %>">
            <%= render partial: 'chapters/chapter', locals: { chapter: chapter } %>
    </li>
  <% end %>
</ul>
