<%= render partial: 'scenes/scenes_header' %>
<div id="sub_objects">
  <div id='scenes-list'  data-controller="scenes">
    <%= render partial: 'scenes/scenes', formats: [:html], locals: { scenes: @scenes, print: @print, situated: @situated,
                                                                     option: @option, years: @years, 
                                                                     date: @year, scripted: @scripted, long: @long } %>
  </div>
</div>

