<h1>Editing Story</h1>

<%= render 'form', story: @story %>

<% @footer_content << "#{link_to 'Show', book_story_path(@book, @story), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path([@book,@story]), :class => "btn btn-default" }" %>
