<h2>Editing Story</h2>

<%= render 'form', story: @story, book: @book %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(story_path(@story)), class: 'btn', title: 'Back' %>
</div>
