<h2>Editing Story</h2>

<turbo-frame id="<%= dom_id @story %>">
<%= render 'form', story: @story, book: @book, long: @long %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  :back, class: 'btn', title: 'Back' %>
</turbo-frame>
