<% @title = "Stories" %>
<h2>Stories</h2>

<div>
<%= link_to (fa_icon 'plus'), new_book_story_path(book_id: @book.id), title: 'New Story' %>
</div>
<% if long %>
<% z_count = 0 %>
<% @book.stories.each do |story| %>
  <% word_counts = story.word_counts %>
  <% z_count  += word_counts.collect{|x| x <= 10 ? 1 : 0 }.sum %>
<% end %>

<% word_count = @book.word_count %>
<% scene_count = @book.scene_count %>
<% word_avg = word_count / (scene_count - z_count) %>
<% else %>
<% word_count = 0 %>
<% scene_count = 0 %>
<% word_avg = 0 %>
<% end %>

<%= render partial: 'stories/index', formats: [:html], locals: { stories: @stories, book: @book, long: long, word_count: word_count, scene_count: scene_count, word_avg: word_avg } %>

