<% @title = "Stories" %>
<h2>Stories</h2>

<% z_count = 0 %>
<% @book.stories.each do |story| %>
  <% word_counts = story.word_counts %>
  <% z_count  += word_counts.collect{|x| x <= 10 ? 1 : 0 }.sum %>
<% end %>

<% word_count = @book.word_count %>
<% scene_count = @book.scene_count %>
<% word_avg = word_count / (scene_count - z_count) %>

<%= render partial: 'stories/index', formats: [:html], locals: { stories: @stories, book: @book, long: long, word_count: word_count, scene_count: scene_count, word_avg: word_avg } %>

<% add_to_footer('New Story', new_book_story_path(book_id: @book.id)) %>
<% add_to_footer('Scenes', book_scenes_path(id: @book.id)) %>
<% add_to_footer('Timeline', book_timeline_path(id: @book.id)) %>
<% add_to_footer('Resync Stories', book_resync_stories_path(id: @book.id)) %>
<% add_to_footer('Back', book_path(@book)) %>
