<h2>New Story</h2>

<turbo-frame id="new_stories" target="edit-story">
<%= render 'form', story: @story, book: @book, long: @long %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  :back, class: 'btn', title: 'Back' %>
</turbo-frame>
