<h2>Stats for Story <%= link_to @story.name, story_path(@story) %></h2>
<%= render partial: 'shared/stats.html', locals: { object: @story, book: @book } %>
<% @footer_content << (link_to 'Back', story_path(@story), class: 'btn btn-default hide-print').to_s %>
