<table class="table">
  <% counts = {} %>
  <% items = object.characters.pluck(field).map{|x| x || ""}.sort %>
  <% items.each do |item| %>
    <% if counts[item].nil? %>
      <% counts[item] = 0 %>
    <% end %>
    <% counts[item] = counts[item] + 1 %>
  <% end %>
  <% items.uniq.compact.each do |item| %>
    <tr><td><%= link_to (item.blank? ? '<blank>' : item), polymorphic_path([object,:characters], :characters_grid => { field => (item.blank? ? '' : item) }) %></td><td><%= counts[item] %></td></tr>
  <% end %>
</table>
