<select class="value enum_filter" name="characters_grid[value]" id="characters_grid_value"><option value=""></option>
  <% values.each do |value| %>
    <option value="<%= value %>"><%= value %></option>
  <% end %>
</select>
