<div class="container" id="characters">
      <div class="row">
        <div class="col-sm-1"><strong>Class</strong></div>
        <div class="col-sm-3"><strong>Name</strong></div>
        <div class="col-sm-2"><strong>Group</strong></div>
        <div class="col-sm-1"><strong>Hair Color</strong></div>
        <div class="col-sm-1"><strong>Eye Color</strong></div>
        <div class="col-sm-1"><strong>Gender</strong></div>
        <div class="col-sm-1"><strong>Ethnicity</strong></div>
        <div class="col-sm-1"><strong>Age</strong></div>
        <div class="col-sm-1"><strong>Scene</strong></div></div>
<% characters.order(:occupation_class).pluck(:occupation_class).map { |x| x || '' }.uniq.sort.each do |occ_class| %>
  <div class="row"><div class="col-sm-8"><strong><%= (occ_class == '' ? '<blank>' : occ_class) %></strong></div></div>
    <% characters.where(occupation_class: occ_class).order(:occupation_class, :last_name, :first_name).distinct.each do |character| %>
    <% if object.class.name == 'Scene' %>
      <% character_scene = CharacterScene.where(character_id: character.id, scene_id: object.id) %>
      <turbo-frame id="<%= dom_id character_scene[0] %>" class="block">
      <% else %>
      <turbo-frame id="<%= dom_id character %>" class="block">
      <% end %>
      <%= render partial: "characters/character_item", locals: { character: character, object: object } %>
    </turbo-frame>
  <% end %>
<% end %>
</div>
