<ul>
  <% people = character.sex == 0 ? Character.where(father: character.id) : Character.where(mother: character.id) %>
  <% people.order(:birth_year).each do |character| %>
      <li><%= render partial: 'characters/descendent_line', locals: { character: character } %> </li>
    <%= render partial: "characters/descendents", locals: { character: character } %>
  <% end %>
</ul>
