<h2>Editing Character</h2>

<turbo-frame id="new_object">
  <turbo-frame id="<%= dom_id @character %>">
      <%= render 'form', character: @character, year: @year, object: @object %>
  </turbo-frame>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(polymorphic_path([@object, :characters])), class: 'btn', title: 'Back' %>
</turbo-frame>
