<h1>Editing Character</h1>

<%= render 'form', character: @character %>

<% @footer_content << "#{link_to 'Show', polymorphic_path([@object, @character]), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path([@object, :characters]), :class => "btn btn-default" }" %>
