<h1>Editing Character</h1>

<%= render 'form', character: @character, year: @year, object: @object %>

<% add_to_footer('Show', polymorphic_path([@object, @character])) %>
<% add_to_footer('Back',  return_or_default_path(polymorphic_path([@object, :characters]))) %>)
