<h2>Characters for <%= @object.class.name %>: <%= @object.name %></h2>
<%= datagrid_form_for @grid, method: :get, url: polymorphic_path([@object, :characters]) %>

<div id='character-grid'>
  <%= render partial: 'characters/index_grid.html', locals: { grid: @grid, pagy: @pagy, records: @records } %>
</div>

<% if @object.class.name == 'Book' %>
  <% add_to_footer('New Character', polymorphic_path([@object, :characters]), method: :post) %>
<% else %>
  <% add_to_footer('Add/Remove Characters', polymorphic_path([@object, :characters_list])) %>
<% end -%>
<% add_to_footer('Back', polymorphic_path(@object)) %>

<script type="text/javascript">
jQuery(function($) {
  $("#characters_grid_category").change(function() {
  $.ajax({
    url: '/characters/attributes',
    type: "GET",
    data: {category_id: $('#characters_grid_category option:selected').val() },
  })
});
  $("#characters_grid_attribute").change(function() {
  $.ajax({
    url: '/characters/attribute_values',
    type: "GET",
    data: {attribute_id: $('#characters_grid_attribute option:selected').val() },
  })
});
})
</script>
