<% @title = "Char Scenes, #{@object.name}" %>
<h3>Characters with Scene Count</h3>
<% scenes = Scene.get_scenes_to_array(@object) %>
<% characters = @object.characters.joins(:scenes).where("scenes.book_id = ?", @object.id).where("scenes.id",scenes).group("characters.id").count %>
<% chars = characters.sort {|a1,a2| a2[1]<=>a1[1]} %>
<table class='table'>
  <thead>
    <tr>
      <th>Character</th>
      <th>Background</th>
      <th># of Scenes</th>
    </tr>
  </thead>
  <tbody>
  <% chars.each do |char_info| %>
    <% character = Character.find(char_info[0]) %>
    <tr>
      <td><%= character.full_name %></td>
      <td><%= character.background %></td>
      <td><%= char_info[1] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% add_to_footer('Back', polymorphic_path(@object)) %>
