<% pdf ||= nil %>

<p id="notice"><%= notice %></p>


<%= render :partial => 'characters/show', :locals => {:pdf => pdf, :character => @character} %>


<% @footer_content << "#{link_to 'Edit', edit_polymorphic_path([@object, @character]), :class => "btn btn-default hide-print"}" %>
<% @footer_content << "#{link_to 'Attributes', polymorphic_path([@object, @character, :character_values]), :class => "btn btn-default hide-print"}" %>
<% @footer_content << "#{link_to 'Lineage', polymorphic_path([@object, @character, :lineage]), :class => "btn btn-default hide-print"}" %>
<% @footer_content << "#{link_to 'Back', polymorphic_path([@object, :characters_list]), :class => "btn btn-default hide-print"}" %>
