<h2>Editing Epoch</h2>

<turbo-frame id="<%= dom_id @epoch %>">
  <%= render 'form', epoch: @epoch, command_label: 'Update Epoch' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(epochs_path), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
