<h1>Editing Epoch</h1>

<%= render 'form', epoch: @epoch, command_label: "Update Epoch" %>

<% @footer_content << "#{link_to 'Show', @epoch}" %>
<% @footer_content << "#{link_to 'Back', epochs_path}" %>
