<h2>Editing Epoch</h2>

<%= render 'form', epoch: @epoch, command_label: 'Update Epoch' %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), @epoch, class: 'btn', title: 'Show' %>
<%= link_to (fa_icon 'plus', class: 'fa-fw'),  return_or_default_path(epochs_path), class: 'btn', title: 'Back' %>
</div>
