<h2>New Epoch</h2>

<turbo-frame id="new_object">
  <%= render 'form', epoch: @epoch, command_label: 'Create Epoch' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  epochs_path, method: :get,  class: 'btn', title: 'Back' %>
</turbo-frame>
