<h1>Editing Partition</h1>

<%= render 'form', chapter: @chapter,partition: @partition %>

<% @footer_content << "#{link_to 'Show', chapter_partition_path(@chapter,@partition), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Back', chapter_path(@chapter), :class => "btn btn-default" }" %>
