<h1>Editing Partition</h1>

<%= render 'form', book: @book, chapter: @chapter,partition: @partition %>

<%= link_to 'Show', book_chapter_partition_path(@book,@chapter,@partition) %> |
<%= link_to 'Back', book_chapter_partitions_path(@book,@chapter) %>
