<h1>Editing Partition</h1>

<%= render 'form', partition: @partition, book: @book, chapter: @chapter %>

<% @footer_content << (link_to 'Show', partition_path(@partition), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', chapter_path(@chapter), class: 'btn btn-default').to_s %>
