<h2>Editing Partition</h2>

<turbo-frame id="<%= dom_id @partition %>">
<%= render 'form', partition: @partition, book: @book, chapter: @chapter %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(chapter_path(@chapter)), method: :get,  class: 'btn', title: 'Back' %>
</turbo-frame>
