<h2>Editing Partition</h2>

<%= render 'form', partition: @partition, book: @book, chapter: @chapter %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'search', class: 'fa-fw'), partition_path(@partition), class: 'btn', title: 'Show' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(chapter_path(@chapter)), class: 'btn', title: 'Back' %>
</div>
