<h1>Editing Partition</h1>

<%= render 'form', partition: @partition, book: @book, chapter: @chapter %>

<% add_to_footer('Show', partition_path(@partition)) %>
<% add_to_footer('Back',  return_or_default_path(chapter_path(@chapter))) %>
