<p id="notice"><%= notice %></p>

<h1>
  <%= @partition.name %>
</h1>

<p>
  <%= raw @partition.body %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_book_chapter_partition_path(@book,@chapter,@partition), :class => "btn btn-primary" }" %>
<% @footer_content << "#{link_to 'Back', book_chapter_path(@book,@chapter), :class => "btn btn-primary" }" %>
