<p id="notice"><%= notice %></p>

<h1>
  <%= @partition.name %>
</h1>

<p>
  <%== @partition.body %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_chapter_partition_path(@partition.chapter,@partition), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Back', chapter_path(@chapter), :class => "btn btn-default" }" %>
