<p id="notice"><%= notice %></p>

<h1>
  <%= @partition.name %>
</h1>

<p>
  <%= raw @partition.body %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_book_chapter_partition_path(@partition.chapter.book,@partition.chapter,@partition), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Back', book_chapter_path(@chapter.book,@chapter), :class => "btn btn-default" }" %>
