<div class="row">
  <div class="col-sm-2">Name</div>
  <div class="col-sm-2">Location</div>
  <div class="col-sm-2"></div>
</div>
<% @artifact_types.each do |artifact_type| %>
  <turbo-frame id="<%= dom_id artifact_type %>">
    <%= render partial: "artifact_types/artifact_type_item", locals: { artifact_type: artifact_type } %>
  </turbo-frame>
<% end %>
