<p>
  <strong>Name:</strong>
  <%= @artifact_type.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @artifact_type.location %>
</p>

<p>
  <strong>Book:</strong>
  <%= @artifact_type.book_id %>
</p>

