      <tr>
        <td><%= link_to artifact_type.name, artifact_type_path(artifact_type), method: :get %></td>
        <td><%= artifact_type.location %></td>
        <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_artifact_type_path(artifact_type), title: 'Edit' %>
        <%= link_to (fa_icon 'trash', class: 'fa-fw'), artifact_type_path(artifact_type), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
