<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_polymorphic_path([@book, :artifact_type]), class: 'btn', title: 'New Artifact Type' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), book_path(@book), method: :get, class: 'btn', title: 'Back' %>
</div>
