<h1>Editing Artifact Type</h1>

<%= render 'form', artifact_type: @artifact_type, book: @book %>

<% add_to_footer('Show', artifact_type_path(@artifact_type)) %>
<% add_to_footer('Back', book_artifact_types_path(@book)) %>
