<h2>Editing Artifact Type</h2>

<turbo-frame id="<%= dom_id @artifact_type %>">
  <%= render 'form', artifact_type: @artifact_type, book: @artifact_type.book %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  book_artifact_types_path(@artifact_type.book), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
