<h2>New Artifact Type</h2>

<turbo-frame id="new_object">
  <%= render 'form', artifact_type: @artifact_type, book: @book %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  book_artifact_types_path(book_id: @book.id), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
