<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artifact_type.name %>
</p>

<p>
  <strong>Book:</strong>
  <%= @artifact_type.book_id %>
</p>

<% @footer_content << "#{link_to 'Edit', edit_book_artifact_type_path(@book,@artifact_type), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', book_artifact_types_path(@book), :class => "btn btn-default"}" %>
