<div class="row">
  <div class="col-sm-2">Name</div>
  <div class="col-sm-2">Segments</div>
</div>

<% @stages.each do |stage| %>
  <turbo-frame id="<%= dom_id stage %>">
    <%= render partial: "stages/stage_item", locals: { stage: stage } %>
  </turbo-frame>
<% end %>
