<strong> <%= @stage.name %> </strong>

<p>
  <%= @stage.desc %>
</p>


<div id="stage-text"  data-controller="actor-location-times">
  <%= render partial: "stages/show", locals: { stage: @stage, check: @check, op: @op } %>
</div>
