<table class="table table-sm">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    <% characters.each do |character| %>
      <tr><td><%= character.full_last_first %></tfd></tr>
    <% end %>
  </tbody>
</table>
