<h2>Editing Stage</h2>

<%= render 'form', stage: @stage %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), @stage, class: "btn", title: 'Back' %>
</div>
