<h2>Editing Stage</h2>

<turbo-frame id="<%= dom_id @stage %>">
<%= render 'form', stage: @stage %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), @stage, method: :get, class: "btn", title: 'Back' %>
</turbo-frame>
