
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Segments</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= link_to stage.name , stage %></td>
        <td><%= stage.segments.size %></td>
        <td><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_stage_path(stage), title: 'Edit' %>
        <%= link_to (fa_icon 'edit', class: 'fa-fw'), stage, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
