<h2>New Stage</h2>

<%= render 'form', stage: @stage %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), act_stages_path(@act), class: "btn", title: 'Back' %>
</div>
