<h2>New Stage</h2>

<turbo-frame id="new_object">
<%= render 'form', stage: @stage %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), act_stages_path(@act), method: :get, class: "btn", title: 'Back' %>
</turbor-frame>
