<h2>Scenes with Segments</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% scenes = Scene.get_scenes_to_array(@stage.act.book) %>
    <% scenes.each do |scene_id| %>
      <% scene = Scene.find(scene_id) %>
      <% if scene.segments.size > 0 %>
        <tr>
          <td colspan="2"><%= link_to scene.full_name, scene %></td>
        </tr>
        <tr>
          <td colspan="2">
            <table>
              <tbody>
                <% scene.segments.each do |segment| %>
                  <tr>
                    <td width="20%"></td>
                    <td><%= link_to segment.name, segment %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to 'Back', stage_path(@stage), :class => "btn", title: "Back to stage" %>
</div>
