<h2>Staging: Time by Actors</h2>

<div id="stage-text">
  <%= render partial: "stages/show", locals: { stage: @stage, check: true, op: 'actors' } %>
</div>

<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'eye', class: 'fa-fw'), stage_path(@stage), title: "Stage, Show", class: "btn" %>
  <%= link_to (fa_icon 'list', class: 'fa-fw'), stage_segments_path(@stage), title: "Segments List", class: "btn" %>
</div>

