<div id="side_controls">
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_polymorphic_path([@scripted, KeyPoint]), class: 'btn', title: 'New Key Point' %>
  <%= link_to (fa_icon 'list', class: 'fa-fw'), polymorphic_path([@scripted, :scenes]), method: :get, class: 'btn', title: 'Scenes' %>
  <%= link_to (fa_icon 'stream', class: 'fa-fw'), polymorphic_path([@scripted, :timeline]), method: :get, class: 'btn', title: 'Timeline' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), polymorphic_path(@scripted), method: :get, class: 'btn', title: 'Back' %>
</div>
