<% pdf ||= nil %>
<ul data-controller="sortable" data-sortable-resource-name-value="key_point">
  <% scripted.key_points.order(:position).each do |key_point| %>
    <li data-sortable-update-url="<%= key_point_sort_path(key_point) %>">
      <%= link_to key_point.hook, key_point_path(key_point), method: :get, id: key_point.anchor %> - <%= link_to key_point.key_element, key_point_path(key_point) %>
      <%= render partial: 'key_points/key_point_item', formats: [:html], locals: { scripted: scripted, key_point: key_point, long: long, link: link } %>
    </li>
  <% end %>
</ul>
