<h1>Editing Key Point</h1>

<%= render 'form', key_point: @key_point %>

<%= link_to 'Show', polymorphic_url([@scripted, @key_point]) %> |
<%= link_to 'Back', polymorphic_path([@scripted, 'key_points']) %>
