<% pdf ||= nil %>
<h2>Key Points</h2>
<ul data-controller="sortable" data-sortable-resource-name-value="key_point">
      <% @key_points.order(:position).each do |key_point| %>
          <%= render partial: 'key_points/key_point', formats: [:html], locals: { key_point: key_point, scripted: @scripted, pdf: pdf } %>
      <% end %>
</ul>
