<% pdf ||= nil %>
<h1>Key Points</h1>
<dl>
<div class="chapter_outer-sortable" style="cursor: grab;">
  <%= content_tag 'div', id: "scripted-#{@scripted.id}", data: { id: @scripted.id, model_name: @scripted.class.name.underscore, update_url: polymorphic_path([@scripted, :sort]) } do %>
    <div class="key_point-sortable" style="cursor: grab; min-height: 10px;">
      <% @key_points.rank(:position).each do |key_point| %>
        <%= content_tag 'div', id: "key_point-#{key_point.id}", data: { model_name: key_point.class.name.underscore, update_url: key_point_sort_path(key_point) } do %>
          <%= render partial: 'key_points/key_point.html', locals: { key_point: key_point, scripted: @scripted, pdf: pdf } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
</dl>

<br>

<% @footer_content << (link_to 'New Key Point', new_polymorphic_path([@scripted, KeyPoint]), class: 'btn btn-default hide-print').to_s %>
<% @footer_content << (link_to 'Scenes', polymorphic_path([@scripted, :scenes]), class: 'btn btn-default hide-print').to_s %>
<% @footer_content << (link_to 'Timeline', polymorphic_path([@scripted, :timeline]), class: 'btn btn-default hide-print').to_s %>

<% @footer_content << (link_to 'Back', polymorphic_path(@scripted), class: 'btn btn-default hide-print').to_s %>

<script>
$(document).ready(function() {
  $(function() {
    $('.sortable').railsSortable();
  });
});
</script>
