<h2>New Key Point</h2>

<turbo-frame id="new_object" target="edit">
<%= render 'form', key_point: @key_point, scripted: @scripted, klass: @klass %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(polymorphic_path([@scripted, :key_points])), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
