<h1>New Key Point</h1>

<%= render 'form', key_point: @key_point, scripted: @scripted, klass: @klass %>

<% add_to_footer('Back',  return_or_default_path(polymorphic_path([@scripted, :key_points]))) %>
