<div class="row">
  <div class="col-sm-2">Name</div>
  <div class="col-sm-2">Events</div>
  <div class="col-sm-2">Body</div>
  <th colspan="3"></div>
</div>
<% @event_types.each do |event_type| %>
  <turbo-frame id="<%= dom_id event_type %>">
    <%= render partial: "event_types/event_type_item", locals: { event_type: event_type } %>
  </turbo-frame>
<% end %>
