<h2>Editing Event Type</h2>

<turbo-frame id="<%= dom_id @event_type %>">
  <%= render 'form', event_type: @event_type, command_label: 'Update Event type' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  event_types_path, method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
