<h2>Editing Event Type</h2>

<%= render 'form', event_type: @event_type, command_label: 'Update Event type' %>

<% add_to_footer('Show', @event_type) %>
<% add_to_footer('Back',  return_or_default_path(event_types_path)) %>
