<h2>New Event Type</h2>

<turbo-frame id="new_object">
<%= render 'form', event_type: @event_type, command_label: 'Create Event type' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  event_types_path, method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
