<h1>Chapters</h1>

<%= render 'chapters/index', chapters: @chapters %>

<% add_to_footer('New Chapter', new_polymorphic_path([@scripted, Chapter])) %>
<% if @situated.class.name == 'Chpater' %>
<% add_to_footer('Scenes', polymorphic_path([@situated, :scenes])) %>
<% end %>
<% add_to_footer('Chapters, Details', polymorphic_path([@scripted, :chapters])) %>
<% add_to_footer('Chapters, TOC', toc_path(@scripted)) %>
<% add_to_footer('Back', polymorphic_path(@scripted)) %>
