<h1>Chapters</h1>

<%= render 'chapters/index', chapters: @chapters %>

<% @footer_content << (link_to 'New Chapter', new_polymorphic_path([@scripted, Chapter]), class: 'btn btn-default').to_s %>
<% if @situated.class.name == 'Chpater' %>
<% @footer_content << (link_to 'Scenes', polymorphic_path([@situated, :scenes]), class: 'btn btn-default').to_s %>
<% end %>
<% @footer_content << (link_to 'Chapters, Details', polymorphic_path([@scripted, :chapters]), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Chapters, TOC', toc_path(@scripted), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', polymorphic_path(@scripted), class: 'btn btn-default').to_s %>
