<h2>New Chapter</h2>

<%= render 'form', scripted: @scripted, chapter: @chapter, command_label: 'Create Chapter' %>

<% add_to_footer('Back',  return_or_default_path(polymorphic_path([@scripted, :chapters]))) %>
