<h2>New Chapter</h2>

<turbo-frame id="new_object" target="edit">
  <%= render 'form', scripted: @scripted, chapter: @chapter, command_label: 'Create Chapter' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'),  :back, class: 'btn', title: 'Back' %>
</turbo-frame>
