<h1>New Chapter</h1>

<%= render 'form', book: @book, chapter: @chapter, command_label: "Create Chapter" %>

<% @footer_content << "#{link_to 'Back', book_chapters_path(@book), :class => "btn btn-primary"}" %>
