<div style='display:block;clear:both;page-break-after:always;'></div>
<% if @chapter.display_title? %>
  <h3>
    <%= @chapter.name %>
    <% @title = @chapter.name %>
  </h3>
<% end %>

<%= render partial: "chapters/chapter_item", locals: { chapter: @chapter } %>
