  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Events</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @timelines.each do |timeline| %>
        <turbo-frame id="<%= dom_id timeline %>">
          <%= render partial: 'timelines/timeline_item', locals: { timeline: timeline } %>
        </turbo-frame>
      <% end %>
    </tbody>
  </table>
