<h1>Editing Timeline</h1>

<%= render 'form', timeline: @timeline, command_label: 'Update Timeline' %>

<% @footer_content << (link_to 'Show', @timeline, class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', timelines_path, class: 'btn btn-default').to_s %>
