<p>
  <strong>Name:</strong>
  <%= @object.name %>
</p>

<%= render partial: "timelines/timeline.html", :locals => { object: @object} %>

<% @footer_content << "#{link_to 'Display', timeline_display_path(@object), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', :back, :class => "btn btn-default"}" %>
