<h1>Editing City</h1>

<%= render 'form', city: @city %>

<% @footer_content << "#{link_to 'Show', city_path(@city), :class => "btn btn-default" }" %>
<% @footer_content << "#{link_to 'Back', cities_path, :class => "btn btn-default" }" %>
