<h1>Cities</h1>
<%= datagrid_form_for @grid, :method => :get, :url => cities_path, :partials => 'city_grid' %>
<%== pagy_info(@pagy) %>
<%= datagrid_table @grid, @records, :partials => 'city_grid' %>
<%== pagy_nav(@pagy) %>

<% @footer_content << (link_to 'New City', new_city_path, class: 'btn btn-default').to_s %>
