<h2>New City</h2>

<%= render 'form', city: @city %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(cities_path), class: 'btn', title: 'Back' %>
</div>
