/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "style4";
@import "welcome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "datagrid";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";


div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }
div.page-break { display:block; clear:both; page-break-after:always; }
body {
  height: 100%;
  padding-bottom: 40px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #fafafa;
  border-top: solid 1px #eee;
  padding-top: 10px;
}

.footer p {
  margin-top: 30px;
}
