/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "style4";
$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "welcome";
@import "datagrid";

$fa-font-path: "font-awesome/fonts" !default;

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'timelineJS/timeline';
@import 'jquery-jvectormap';
//@import "timelineJS/fonts/font.pt";

div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }
div.page-break { display:block; clear:both; page-break-after:always; }
body {
  height: 100%;
  padding-bottom: 40px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 15px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
dd {
    display: block;
    margin-left: 40px;
}
td.dd-type {
/*    display: block; */
    padding-left: 40px;
    background-color: #EEE;
}
/*p {
  padding-top: 20px;
  padding-left: 300px;
  border-style: solid;
  border-width: 2px;
}

a {
  margin-top: 50px;
}

* {
  margin: auto;
  padding: auto;
}
*/
.gtree ul {
  padding-top: 20px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.gtree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


/*We will use ::before and ::after to draw the connectors*/

.gtree li::before,
.gtree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 45px;
  z-index: -1;
}

.gtree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}


/*We need to remove left-right connectors from elements without
			any siblings*/

.gtree li:only-child::after,
.gtree li:only-child::before {
  display: none;
}


/*Remove space from the top of single children*/

.gtree li:only-child {
  padding-top: 0;
}


/*Remove left connector from first child and
			right connector from last child*/

.gtree li:first-child::before,
.gtree li:last-child::after {
  border: 0 none;
}


/*Adding back the vertical connector to the last nodes*/

.gtree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-transform: translateX(1px);
  -moz-transform: translateX(1px);
  transform: translateX(1px);
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

.gtree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}


/*Time to add downward connectors from parents*/

.gtree ul ul::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 32px;
  z-index: -1;
}

.gtree li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.gtree li a+a {
  margin-left: 20px;
  position: relative;
}

.gtree li a+a::before {
  content: '';
  position: absolute;
  border-top: 1px solid #ccc;
  top: 50%;
  left: -21px;
  width: 20px;
}


/*Time for some hover effects*/


/*We will apply the hover effect the the lineage of the element also*/

.gtree li a:hover,
.gtree li a:hover~ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}


/*Connector styles on hover*/

.gtree li a:hover~ul li::after,
.gtree li a:hover~ul li::before,
.gtree li a:hover~ul::before,
.gtree li a:hover~ul ul::before {
  border-color: #94a0b4;
}
.flexbox {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.box_left {
    background: #a0ffa0;
    min-width: 75px;
    width: 500px;
    flex-grow: 0;
}

.box_right {
    background: #a0a0ff;
    flex-grow: 1;
}
#content {
clear: both;
width: 950px;
padding-bottom: 10px;
overflow:hidden;
}
#contentLeft {
float: left;
display:inline;
/* width: 630px; */
margin: 10px;
}
#contentRight {
float: right;
width: 270px;
margin-top:25px;
margin-right:15px;
} 
div#aside {
/*  width:92%;*/
  width: 400px;
  float: right;
  overflow-x:hidden; overflow-y:visible;
  padding:2%;
  height:150px;
  border:10px double yellowgreen;
  background-color:#d7e5f7;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
table td, table td * {
    vertical-align: top;
}
.border-primary { 
  border: 1px solid #333333; 
  }
  .border-primary .card-body,.card-title {
  padding: 3px;
  margin: 3px;
}

