
 $fa-font-path: 'font-awesome/fonts';
@import 'font-awesome';

@import 'variables';
@import 'bootstrap/_functions';
@import 'bootstrap/_variables';
@import 'bootstrap/mixins/_clearfix';
@import 'tpl';

turbo-frame {
  padding: 0.1em 0.1em;
  margin: 0.5em 0;
}

#side_controls {
  position: fixed;
  left: 1em;
  top: 20%;
  width: 4em;
  margin-top: -2.5em;
}

#stage-text {
 height: 700px;
}


.table-fixed tbody {
    height: 600px;
    overflow-y: auto;
    overflow-x: auto;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
 /*   display: block; */
}

/* .table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}
*/
