<h1>Editing Glossary Term</h1>

<%= render 'form', glossary_term: @glossary_term, book: @book %>

<% @footer_content << (link_to 'Show', glossary_term_path(@glossary_term), class: 'btn btn-default').to_s %>
<% @footer_content << (link_to 'Back', book_glossary_terms_path(@book), class: 'btn btn-default').to_s %>
