<h2>New Glossary Term</h2>

<turbo-frame id="new_object">
  <%= render 'form', glossary_term: @glossary_term, book: @book %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), book_glossary_terms_path(@book), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
