<h1>New Glossary Term</h1>

<%= render 'form', glossary_term: @glossary_term, book: @book %>

<% @footer_content << "#{link_to 'Back', book_glossary_terms_path(@book), :class => "btn btn-default"}" %>

