<div class="row">
  <div class="col-sm-2">Name</div>
  <div class="col-sm-2">Events</div>
  <div class="col-sm-2">Body</div>
</div>
<% @regions.each do |region| %>
  <turbo-frame id="<%= dom_id region %>">
    <%= render partial: "regions/region_item", locals: { region: region } %>
  </turbo-frame>
<% end %>
