      <tr>
        <td><%= link_to region.name, region, method: :get %></td>
        <td><%= region.holocene_events.size %></td>
        <td><%= region.body %></td>
        <td><%#= link_to (fa_icon 'edit'), edit_region_path(region), data: { "turbo-frame": "new_object" }, title: 'Edit' %></td>
        <td><%= link_to (fa_icon 'trash'), region, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
      </tr>
