<div id="nav-bar" class="block">
  <nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <%= link_to fa_icon('globe', alt: 'Globe'), page_view_path(slug: 'about'), data: { method: :get }, class: 'navbar-brand', title:'About page' %>
    <ul class='flex navbar-nav me-auto mb-2 mb-lg-0'>
      <li class='nav-item'><%= link_to 'Home', root_path, data: { "turbo-frame": "_top" }, class: 'nav-link' %></li>
      <%= render partial: 'layouts/nav_links' %>
    </ul>
    <ul class='flex nav navbar-nav navbar-right'>
      <%= render partial: 'layouts/nav_links_for_auth' %>
    </ul>
  </nav>
</div>
