<nav class="navbar navbar-expand-lg navbar-default navbar-static-top">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top"> -->
       <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-expand collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" role="button" aria-haspopup="true">
        <span class="navbar-expand-icon"></span>
      </button>
    </div>
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to 'Home', root_path, class: 'navbar-brand' %></li>
      <%= render partial: 'layouts/nav_links' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <%= render partial: 'layouts/nav_links_for_auth' %>
        <%#= render 'layouts/navigation_links' %>
      </ul>
    </div><!-- /.container-fluid -->
</nav>
