<p>
  <strong>Name:</strong>
  <%= @character_attribute.name.humanize %>
</p>

<p>
  <strong>Character category:</strong>
  <%= @character_attribute.character_category_name %>
</p>

<p>
  <strong>Related:</strong>
  <%= @character_attribute.related_name %>
</p>

