<% attributes = CharacterAttribute.where(character_category: @character_category) %>
<ul>
  <% attributes.order(:position).each do |attribute| %>
    <li>
      <%= link_to attribute.name, character_attribute_path(attribute), id: attribute.id, method: :get %>
    </li>
  <% end %>
</ul>
