<% attributes = CharacterAttribute.where(character_category: character_category) %>
<ul data-controller="sortable" data-sortable-resource-name-value="character_attribute">
  <% attributes.order(:position).each do |attribute| %>
    <li data-sortable-update-url="<%= character_attribute_sort_path(attribute) %>">
      <%= link_to attribute.name, character_attribute_path(attribute), id: attribute.id %>
    </li>
  <% end %>
</ul>
