<h2>Editing Character Attribute</h2>

<%= render 'form', character_attribute: @character_attribute, character_category: @character_category %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'search', class: 'fa-fw'), @character_attribute, class: 'btn', title: 'Show' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  return_or_default_path(character_category_character_attributes_path(@character_category)), class: 'btn', title: 'Back' %>
</div>
