<% @title = "Character Attributes" %>
<h2>Character Attributes</h2>

<%= render partial: 'character_attributes/index', locals: { character_category: @character_category } %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'plus', class: 'fa-fw'), new_character_category_character_attribute_path(@character_category), class: 'btn', title: 'New Character Attribute' %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), character_categories_path(@character_category), class: 'btn', title: 'Back' %>
</div>
