<p id="notice"><%= notice %></p>
<h1>Character Attributes</h1>

<%= render :partial => "character_attributes/index" %>
<br/>

<% @footer_content << "#{link_to 'New Character Attribute', new_character_attribute_path(:character_category_id => @character_category.id), :class => "btn btn-default"}" %>
<% @footer_content << "#{link_to 'Back', character_categories_path(@character_category), :class => "btn btn-default"}" %>
