<h2>New Character Attribute</h2>

<turbo-frame id="new_object">
<%= render 'form', character_attribute: @character_attribute, character_category: @character_category %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'),  character_category_path(@character_category), method: :get, class: 'btn', title: 'Back' %>
</turbo-frame>
