<h1>New Character Attribute</h1>

<%= render 'form', character_attribute: @character_attribute %>

<% @footer_content << "#{link_to 'Back', character_attributes_path(:character_category_id => @character_category.id), :class => "btn btn-default"}" %>


