<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character_attribute.name.humanize %>
</p>

<p>
  <strong>Character category:</strong>
  <%= @character_attribute.character_category_name %>
</p>

<p>
  <strong>Related:</strong>
  <%= @character_attribute.related_name %>
</p>

<% add_to_footer('Edit', edit_character_attribute_path(@character_attribute)) %>
<% add_to_footer('Back', character_category_character_attributes_path(@character_category)) %>
