<% @holocene_events.each do |r| %>
  <h2><%= r.name %></h2>
  <p><% r.tag_list.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag) %>
  <% end %></p>
<% end %>

<h2>Timeline</h2>

<div class="timeline-container timeline-theme-1">
  <div class="timeline js-timeline">
    <div data-time="2017">
      your content or markup
    </div>
    <div data-time="2016">
      your content or markup
    </div>
    <div data-time="2015">
      your content or markup
    </div>
    <div data-time="2014">
      your content or markup
    </div>
    <div data-time="2013">
      your content or markup
    </div>
  </div>
</div>
    <script>
        $('.js-timeline').Timeline();
    </script>
