<%= render partial: 'artifacts/artifact_index', formats: [:html], locals: { book: @book, artifact: artifact, parent: true } %>
<% unless artifact.children.empty? %>
  <h3>Children</h3>
  <% artifact.children.order(:name).each do |child| %>
    <%= render partial: 'artifacts/artifact_index', formats: [:html], locals: { book: @book, artifact: child, parent: false } %>
  <% end %>
<% end %>
