<div class="row">
  <div class="col-sm-2">Name</div>
  <div class="col-sm-2">Associated</div>
  <div class="col-sm-2">Owner/Controller</div>
  <div class="col-sm-2">Type</div>
</div>
<% @artifacts.each do |artifact| %>
  <% next if !artifact.parent.nil? && artifact.children.empty? %>
  <turbo-frame id="<%= dom_id artifact %>">
    <%= render partial: 'artifacts/artifact_item', formats: [:html], locals: { book: @book, artifact: artifact, parent: true } %>
  </turbo-frame>
<% end %>
