<h1>Editing Artifact</h1>

<%= render 'form', artifact: @artifact, book: @book %>

<% add_to_footer('Show', artifact_path(@artifact)) %>
<% add_to_footer('Back',  return_or_default_path(book_artifacts_path(@book))) %>
