<% @title = "Artifacts" %>
<h2>Artifacts</h2>

<div id='tag_cloud'>
  <% tag_cloud Artifact.where(book_id: @book.id).tag_counts.order(:name), %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_artifacts_path(book_id: @book.id, tag: tag.name), class: css_class %>
  <% end %>
</div>

<turbo-frame id="objects">
  <%= render partial: "artifacts/artifacts" %>
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_book_artifact_path(@book), data: { "turbo-frame": "objects" }, class: 'btn', title: 'New Artifact' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), book_path(@book), rel: 'next', class: 'btn', title: 'Back' %>
</turbo-frame>
