<% unless params[:tag].nil? -%>
  <h2><%= params[:tag] %>
  </h2>
<% end -%>
<div id='tag_cloud'>
  <% tag_cloud Artifact.where(book_id: @book.id).tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_artifacts_path(book_id: @book.id, tag: tag.name), class: css_class %>
  <% end %>
</div>

<% @artifacts.order(:name).each do |r| %>
  <h2><%= link_to r.name, book_artifact_path(@book,r) %></h2>
  <p><% r.tag_list.each do |tag| %>
    <%= link_to tag, tag_artifacts_path(book_id: @book.id,tag: tag) %>
  <% end %></p>
<% end %>

<% @footer_content << "#{link_to 'Back', :back, :class => "btn btn-default"}" %>

