<h2>Editing Location</h2>

<%= render 'form', location: @location %>

<div>
<%= link_to 'Show', @location, :class => "btn" %>
<%= link_to 'Back', book_locations_path(@book), :class => "btn" %>
</div>
