<h2>Editing Location</h2>

<turbo-frame id="<%= dom_id @location %>">
<%= render 'form', location: @location %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), book_locations_path(@book), class: "btn", title: 'Back' %>
</turbo-frame>
