<h2>Editing Location</h2>

<turbo-frame id="<%= dom_id @location %>">
  <%= render 'form', location: @location %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), location_path(@location), method: :get, class: "btn", title: 'Back' %>
</turbo-frame>
