<h2>New Location</h2>

<%= render 'form', location: @location %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), book_locations_path(@book), class: "btn", title: 'Back' %>
</div>
