<h2>New Location</h2>

<turbo-frame id="new_object" target="edit">
  <%= render 'form', location: @location %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), book_locations_path(@location.book), method: :get, class: "btn", title: 'Back' %>
</turbo-frame>
