                    <li>
	            		<a href="/books">
                            <i class="glyphicon glyphicon-list"></i>
				Books</a>
                    </li>
                    <% unless @book.nil? -%>
                    <li>
                        <a href="/books/<%= @book.id %>/chapters">
                            <i class="glyphicon glyphicon-list"></i>
				Chapters</a>
                    </li>
                <% end -%>
                    <li>
	            		<a href="/holocene_events">
                            <i class="glyphicon glyphicon-list"></i>
				Holocene Events</a>
                    </li>
                    <li>
                        <a href="/timelines">
                            <i class="glyphicon glyphicon-oil"></i>
				Timelines</a>
                    </li>
                    <li>
                        <a href="/epochs">
                            <i class="glyphicon glyphicon-oil"></i>
				Epochs</a>
                    </li>
                    <li>
                        <a href="/regions">
                            <i class="glyphicon glyphicon-oil"></i>
				Regions</a>
                    </li>
                    <li>
                        <a href="/event_types">
                            <i class="glyphicon glyphicon-tree-conifer"></i>
				Event Types</a>
                    </li>
                    <li>
                        <a href="/authors">
                            <i class="glyphicon glyphicon-tree-conifer"></i>
				Authors</a>
                    </li>
                    <li>
                        <a href="/biblioentries">
                            <i class="glyphicon glyphicon-tree-conifer"></i>
				Biblioentry</a>
                    </li>
