            <nav id="sidebar">
                <div class="sidebar-header">
                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                  </button>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="/">
                            <i class="glyphicon glyphicon-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
	            		<a href="/chapters">
                            <i class="glyphicon glyphicon-list"></i>
				Chapters</a>
                    </li>
                    <li>
	            		<a href="/holocene_events">
                            <i class="glyphicon glyphicon-list"></i>
				Holocene Events</a>
                    </li>
                    <li>
                        <a href="/timelines">
                            <i class="glyphicon glyphicon-oil"></i>
				Timelines</a>
                    </li>
                    <li>
                        <a href="/eras">
                            <i class="glyphicon glyphicon-oil"></i>
				Eras</a>
                    </li>
                    <li>
                        <a href="/citations">
                            <i class="glyphicon glyphicon-oil"></i>
				Citations</a>
                    </li>
                    <li>
                        <a href="/regions">
                            <i class="glyphicon glyphicon-oil"></i>
				Regions</a>
                    </li>
                    <li>
                        <a href="/event_types">
                            <i class="glyphicon glyphicon-tree-conifer"></i>
				Event Types</a>
                    </li>
                    <li>
                        <a href="/authors">
                            <i class="glyphicon glyphicon-tree-conifer"></i>
				Authors</a>
                    </li>
                    <li>
                        <a href="/biblioentries">
                            <i class="glyphicon glyphicon-tree-conifer"></i>
				Biblioentry</a>
                    </li>
                    <li>
                        <a href="/about">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            About
                        </a>
                    </li>
                    <li>
                        <a href="/faq">
                            <i class="glyphicon glyphicon-paperclip"></i>
                            FAQ
                        </a>
                    </li>
                                                                                                               
                   <li>
                        <a href="/contact">
                            <i class="glyphicon glyphicon-send"></i>
                            Contact
                        </a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="https://www.linux.com/blog/learn/chapter/Intro-to-Kubernetes/2017/5/set-cicd-pipeline-kubernetes-part-1-overview" class="article">Set Up a CI/CD Pipeline with Kubernetes Part 1: Overview
                        </a>
<li>
    <a href="https://www.linux.com/blog/learn/chapter/Intro-to-Kubernetes/2017/6/set-cicd-pipeline-jenkins-pod-kubernetes-part-2" class="article">Set Up a CI/CD Pipeline with a Jenkins Pod in Kubernetes (Part 2)
    </a>
<li>
    <a href="https://stackoverflow.com/questions/19104847/how-to-generate-a-dockerfile-from-an-image?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa" class="article">dockerfile-from-image
    </a>
<li>
    <a href="https://seekingalpha.com/article/4140717-whether-reinvest-dividends" class="article">Why, How (And Whether) To Reinvest Your Dividends
    </a>
                </ul>
            </nav>
