<div class="row">
  <div class="col-sm-2"><strong>Name</strong></div>
  <div class="col-sm-2"><strong>Stages</strong></div>
</div>
<% @acts.each do |act| %>
  <turbo-frame id="<%= dom_id act %>">
    <%= render partial: "acts/act_item", locals: { act: act } %>
  </turbo-frame>
<% end %>
