<div class="row">
  <div class="col-sm-2"><%= link_to act.name, act, method: :get %></div>
  <div class="col-sm-2"><%= act.stages.size %></div>
  <div class="col-sm-2"><%= link_to (fa_icon 'edit', class: 'fa-fw'), edit_act_path(act, short: true), title: 'Edit' %>
  <%= link_to (fa_icon 'trash', class: 'fa-fw'), act, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></div>
</div>
