<div id="side_controls" class="hide-print">
  <%= link_to (fa_icon 'plus', class: 'fa-fw'), new_book_act_path(@book), data: { "turbo-frame": "new_object" }, class: "btn", title: 'New Act' %>
  <%= link_to (fa_icon 'backward', class: 'fa-fw'), book_path(@book), method: :get, class: "btn", title: "Back" %>
</div>
