<h2>Editing Act</h2>

<turbo-frame id="<%= dom_id @act %>">
<%= render 'form', act: @act %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), book_acts_path(@book), class: "btn", title: 'Back' %>
</turbo-frame>
