<h2>Editing Act</h2>

<turbo-frame id="new_object">
<turbo-frame id="<%= dom_id @act %>">
<%= render 'form', act: @act %>
<%= link_to (fa_icon 'backward', class: 'fa-fw'), act_path(@act), method: :get, class: "btn", title: 'Back' %>
</turbo-frame>
</turbo-frame>
