<h2>New Act</h2>

<%= render 'form', act: @act %>

<div id="side_controls" class="hide-print">
<%= link_to (fa_icon 'backward', class: 'fa-fw'), book_acts_path(@book), class: "btn", title: 'Back' %>
</div>
